<template>
    <form>
        <div class="login">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2" for="user">Username</label>
                    <div class="col-md-10">
                        <input v-validate="'required'" type="text" v-model="model.userName"data-vv-as="User Name" name="userName" class="form-control">
                        <span class="error" v-show="errors.has('userName')">{{ errors.first('userName') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="user">Password</label>
                    <div class="col-md-10">
                        <input v-validate="'required'" type="password" v-model="model.password" name="password" data-vv-as="Password" class="form-control">
                        <span class="error" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <input type="checkbox" v-model="model.rememberMe" />
                            <label> Remember me</label>
                        </div>
                         <a href="javascript:;" @click="login" class=" margin-5 pull-right btn btn-success">Login</a>
                         <router-link to="/register" class="pull-right btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span> Register
                        </router-link>
                    </div>
                </div>
                <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-left">
                                 <router-link v-bind:to="'/forgotpassword'">Forgot Password?</router-link>
                            </div>
                       </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script src="./login.ts"></script>