<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<template>
    <form>
        <i class="fa fa-user fa-2x"></i>
        <div class="register">
            <div class="form-horizontal">
                <div class="form-group">
                  <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input v-validate="'required'" @keyup.enter="register"  type="text"  data-vv-as="User Name"v-model="model.userName" name="userName" placeholder="Username" class="form-control">
                  </div>
                     <span class="error" v-show="errors.has('userName')">{{ errors.first('userName') }}</span>
                </div>
                <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input v-validate="'required'" @keyup.enter="register"type="text" data-vv-as="First and Last Name" v-model="model.firstandlastname" name="firstandlastname" placeholder="First and Lastname" class="form-control">
                        </div>
                        <span class="error" v-show="errors.has('firstandlastname')">{{ errors.first('firstandlastname') }}</span>
                </div>
                <div class="form-group">
                     <div class="input-group">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                     <input v-validate="'required'" @keyup.enter="register" type="text" data-vv-as="Email" v-model="model.Email" name="Email" placeholder="Email"class="form-control">
                     </div>
                     <span class="error" v-show="errors.has('Email')">{{ errors.first('Email') }}</span>
                </div>
                <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input v-validate="'required|min:6|confirmed:confirmPassword'" @keyup.enter="register" type="password" v-model="model.password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <span class="error" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </div>
                <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input v-validate="'required'" @keyup.enter="register" type="password"  data-vv-as="Confirm password"v-model="model.confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control">
                        </div>
                        <span class="error"v-show="errors.has('confirmPassword')">{{ errors.first('confirmPassword') }}</span>
                    </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="pull-left">
                        </div>
                        <a href="javascript:;" @click="register" @keyup.enter="register" class=" pull-right btn btn-success">Register</a>
                        <router-link to="/login" class=" margin-5 pull-right btn btn-info">
                        <span class="glyphicon glyphicon-hand-left"></span> Back
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script src="./register.ts"></script>