<template>
    <form>
        <i class="fa fa-user fa-2x"></i>
        <div class="resetpassword">
            <div class="form-horizontal">
                <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input v-validate="'required|min:6|confirmed:confirmPassword'" type="password" v-model="model.password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <span class="error" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </div>
                <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input v-validate="'required'" type="password"  data-vv-as="Confirm password"v-model="model.confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control">
                        </div>
                        <span class="error"v-show="errors.has('confirmPassword')">{{ errors.first('confirmPassword') }}</span>
                    </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="pull-left">
                        </div>
                        <a href="javascript:;" @click="reset" @keyup.enter="register" class=" pull-right btn btn-success">Reset</a>
                        <router-link to="/login" class=" margin-5 pull-right btn btn-info">
                        <span class="glyphicon glyphicon-hand-left"></span> Back
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script src="./resetpassword.ts"></script>