<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ChannelX</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>Public Channels</li>
                    <li v-for="item in publicList">
                        <router-link :to="{ name: '/channel/open', params : { id : item.id } }">
                            {{ item.title }}
                            <span class="glyphicon glyphicon-time"></span> {{ item.endTime | duration }}
                        </router-link>
                    </li>
                    <li v-if="publicList.length == 0">
                        <a href="javascript:;">None</a>
                    </li>
                    <li>Active Channels</li>
                    <li v-for="item in engagedList">
                        <router-link :to="{ name: '/channel/open', params : { id : item.id } }">
                            {{ item.title }}
                            <span class="glyphicon glyphicon-time"></span> {{ item.endTime | duration }}
                        </router-link>
                    </li>
                    <li v-if="engagedList.length == 0">
                        <a href="javascript:;">None</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css" />
<script src="./navmenu.ts" />