
    /*
    
var container = this.$el.querySelector("#container");
container.scrollTop = container.scrollHeight;
    */

    .panel {
        width: 100%;
    }
    .properties {
        width: 19%;
        height: 520px;
        display: inline-block;
        margin-top: 0px;
    }

    .properties .prop_main{
        position: relative;
    }

    .main{
        width:80%;
        height: 500px;
        margin-top: 10px;
        position: relative;
        display: inline-block;
    }
    .chat{
        height: 100%;
        width: 100%;
        border:1px solid #ddd;
        border-radius: 5px;
        position: relative;
        overflow:scroll;
    }
    .chat ul{
        position: absolute;
        list-style-type: none;
        padding: 0px;
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 10px;
    }
    .chat ul > li {
        width: 100%;
        padding: 5px;
        margin:5px;
        display: flex;
    }
    .chat ul > li:after {
        content: '';
        display: block;
        clear: both;
    }
    .chat ul > li.receive {
        text-align: right;
    }

    .chat ul > li.send {

        justify-content: flex-end;
        align-items: flex-end;
    }
    .chat ul > li.receive > .msg {

        background: rgb(125, 189, 241);
        border-radius: 5px;
        padding: 10px;
    }

    .chat ul > li.send > .msg {
        background: rgb(137, 247, 137);
        padding: 10px;
        border-radius: 5px;
    }

    .chat ul > li.notify::before {
        clear:both;
    }
    .chat ul > li.notify{
        display: block;
        text-align: center;
        color:gray;
        float:left;
        width:100%;
        max-width:100%;
    }
    .chat div.control {
        padding-top:10px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        padding: 10px;
    }

    #text {
        margin-top:10px;
        border-radius: 5px !important; 
    }