<template>

    <div class="row">

        <div class="col-md-10 main">

            <div class="chat">
                <ul>

                    <li v-for="item in chats" v-bind:class="{ 'receive' : item.Type == 1, 'send' : item.Type == 2, 'notify' : item.Type == 3 }">
                        <div class="msg">
                                <span v-if="item.Type == 1">{{item.User}} : </span> 
                              
                             
                             {{item.Content}}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="control">
                <input type="text" v-model="text" placeholder="Enter text" id="text" class="form-control" @keyup.enter="send">
            </div>

        </div>

        <div class="col-md-2 properties">
            <div class="prop_main">
                <p>Online Users</p>

                <div v-for="item in users" class="dropdown user">
                    {{item.Name}}
                    <a  href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Block User</a></li>
                      <li><a href="#">Kick User</a></li>
                      <li><a href="#">Authorize</a></li>
                    </ul>
                  </div>

            </div>
        </div>
    </div>

</template>
<script src="./open.ts"></script>

<!--

                <ul>
                    <li v-for="item in chats" v-bind:class="{ 'receive' : item.Type == 1, 'send' : item.Type == 2 }">
                        <div class="msg">
                            {{item.Content}}
                        </div>
                    </li>
                    <li class="receive">
                        <div class="msg">
                            <strong>Client-side navigation</strong>.
                        </div>
                    </li>
                    <li class="receive">
                        <div class="msg">
                            <strong>Client-side navigation</strong>..
                        </div>

                    </li>
                    <li class="receive">
                        <div class="msg">
                            <strong>Client-side navigation</strong>. For example, click
                            <em>Counter</em> then
                            <em>Back</em> to return here.
                        </div>
                    </li>
                    <li class="receive">
                        <div class="msg">
                            <strong>Client-side navigation</strong>.
                        </div>

                    </li>
                    <li class="receive">
                        <div class="msg">
                            In development mode, there's no need to run the build tool. Your client-side resources are dynamically built on demand. Updates
                            are available as soon as you modify any file.
                        </div>
                    </li>
                    <li class="send">
                        <div class="msg">
                            In development mode, there's no need to run the build tool. Your client-side resources are dynamically built on demand. Updates
                            are available as soon as you modify any file.
                        </div>
                    </li>
                    <li class="notify">
                        <div class="msg">
                            X joined to chat.
                        </div>

                    </li>
                    <li class="receive">
                        <div class="msg">
                            Hot module replacement.
                        </div>
                    </li>
                    <li class="send">
                        <div class="msg">
                            Efficient production builds. In ps are disabled, and the build tool produces minified static CSS and JavaScript files.
                        </div>
                    </li>
                    <li class="receive">
                        <div class="msg">
                            Hot module replacement.
                        </div>
                    </li>

                    <li class="send">
                        <div class="msg">
                            Efficient production builds. In ps are disabled, and the build tool produces minified static CSS and JavaScript files.
                        </div>
                    </li>
                    <li class="receive">
                        <div class="msg">
                            Hot module replacement.
                        </div>
                    </li>
                    <li class="send">
                        <div class="msg">
                            Efficient production builds. In ps are disabled, and the build tool produces minified static CSS and JavaScript files.
                        </div>
                    </li>
                </ul>
-->