@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext');

body {
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}