<template>
    <form>
        <div class="historypage">
            <div v-if="loading" class="loading">Loading&#8230;</div>
            <div class="form-horizontal">
                <div>
                    <h1>Channel History Page</h1>
                    <p>Information about pages</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Channel Number</th>
                                <th>Channel Name</th>
                                <th>Engaged Users</th>
                                <th>Duration (hour)</th>
                                <th>Time (Last Accesible)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in modelList">
                                <td>
                                    {{item.id}}
                                </td>
                                <td>
                                    {{item.title}}
                                </td>
                                <td>
                                    <span v-for="user in item.engagedUsersName">
                                        {{user}}
                                    </span>
                                </td>
                                <td>
                                    {{item | duration}}
                                </td>
                                <td>
                                    {{item.endAt | endTime}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right" v-if="!loading">
                        Show 
                        <select name="count" v-model="page.count" id="count" v-on:change="get">
                            <option v-for="item in counts" v-bind:value="item">{{item}}</option>
                        </select>
                        Per Page
                        <select v-model="page.currentPage" id="currentPage" name="currentPage" v-on:change="get">
                            <option v-for="i in pages">{{i}}</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </form>
</template>

<script src="./historypage.ts"></script>