<template>
    <form>
        <div class="historypage">
            <div class="form-horizontal">
                <div>
                    <h2>Basic Table</h2>
                    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Channel Number</th>
                                <th>Channel Name</th>
                                <th>Engaged Users</th>
                                <th>Duration</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in modelList">
                                <td>
                                    {{item.id}}
                                </td>
                                <td>
                                    {{item.title}}
                                </td>
                                <td>
                                    <span v-for="user in item.users">
                                        {{user}}
                                    </span>
                                </td>
                                <td>
                                    {{item.duration}}
                                </td>
                                <td>
                                    {{item.endAt}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</template>

<script src="./historypage.ts"></script>