<template>
  <form>
    <div class="forgotpassword">
      <div class="form-horizontal">
        <div class="col-md-12 col-md-offset-0">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3>
                  <i class="fa fa-lock fa-2x"></i>
                </h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                  <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                          </span>
                          <input id="email" name="email" placeholder="email address" v-model="model.email" class="form-control" type="email">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                          <div class="pull-left">
                          </div>
                          <a href="javascript:;" @click="forgotpassword" @keyup.enter="reset" class=" pull-right btn btn-success">Reset Password</a>
                          <router-link to="/login" class=" margin-5 pull-left btn btn-info">
                          <span class="glyphicon glyphicon-hand-left"></span> Back
                          </router-link>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script src="./forgotpassword.ts"></script>