
.navbar-top {
    border: none;
    border-radius: 0px;
    padding-left: -15px;
    margin-left: -35px;
    margin-right: -15px;
    border-bottom: 1px solid gray;
}

.navbar-top .container {
    width:inherit;
    padding-left: 0px;
}

.top-nav li a.router-link-active,
.top-nav li a.router-link-active:hover,
.top-nav li a.router-link-active:focus {
    background-color: #4189C7;
    color: white;
}